<nav class="navbar navbar-expand-lg nav-top">
  <a class="navbar-brand" routerLink="/"><img src="../assets/img/king.png" width="30" height="30" alt=""></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/arenas" routerLinkActive="active" (click)="ToggleNavBar()">Arenas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cards" routerLinkActive="active" (click)="ToggleNavBar()">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chests" routerLinkActive="active" (click)="ToggleNavBar()">Chests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/players" routerLinkActive="active" (click)="ToggleNavBar()">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/leagues" routerLinkActive="active" (click)="ToggleNavBar()">Leagues</a>
      </li>
    </ul>
  </div>
</nav>